NET "H" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "reset" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "reset_2" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "SPI_MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "SPI_SCK" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CS" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "DAC_CLR" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "switches<3>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "switches<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "switches<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "switches<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "LED<7>" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "Rx" LOC = "U8" | IOSTANDARD = LVTTL ;
NET "Tx" LOC = "M13" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "test1" LOC = "D7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "test_fill" LOC = "C7" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "test_lut_en" LOC = "F8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "test_lut_rst" LOC = "E8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;